.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  em{
    text-indent: 5;
  }
  span{
    color: #ff0000;
    background-color: aqua;
  }
  body{
    background-color: chocolate;
  }